/* Color Theme Swatches in RGBA */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 14px; }
  html ::-webkit-scrollbar {
    width: 0rem; }
  html body {
    font-size: 1.2857142857rem;
    overflow-x: hidden; }

@media screen and (max-width: 768px) {
  html {
    font-size: 7px; } }
@font-face {
  font-family: NotoSansKR;
  src: url("../font/NotoSansKR-Thin.otf");
  font-weight: 300; }
@font-face {
  font-family: NotoSansKR;
  src: url("../font/NotoSansKR-Regular.otf");
  font-weight: 400; }
@font-face {
  font-family: NotoSansKR;
  src: url("../font/NotoSansKR-Medium.otf");
  font-weight: 500; }
@font-face {
  font-family: NotoSansKR;
  src: url("../font/NotoSansKR-Bold.otf");
  font-weight: 700; }
.container .section {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; }
  .container .section.sec01 {
    background: #f2cbb5; }
    .container .section.sec01 strong {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
      .container .section.sec01 strong:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30%;
        background: #d8755f; }

/*# sourceMappingURL=style.css.map */
