html {
    font-size:14px;
    ::-webkit-scrollbar {
        width:rem(0);
    }
    body{
        font-size:rem(18);
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size:7px;
    }
}
