
// 라이트
@font-face{
	font-family: NotoSansKR;
	src: url('../font/NotoSansKR-Thin.otf') ;
	font-weight: 300;
}
// 레귤러
@font-face{
	font-family: NotoSansKR;
	src: url('../font/NotoSansKR-Regular.otf') ;
	font-weight: 400;
}
// 미디엄
@font-face{
	font-family: NotoSansKR;
	src: url('../font/NotoSansKR-Medium.otf') ;
	font-weight: 500;
}
// 볼드
@font-face{
	font-family: NotoSansKR;
	src: url('../font/NotoSansKR-Bold.otf') ;
	font-weight: 700;
}