// 기본 폰트 사이즈
$rem: 14;

// default-color
$default-color : #333;
$default-color-light : #333;


/* Color Theme Swatches in RGBA */
$theme-color1: rgba(84,140,114, 1);
$theme-color2: rgba(242,164,118, 1);
$theme-color3: rgba(242,203,181, 1);
$theme-color4: rgba(216,117,95, 1);
$theme-color5: rgba(165,82,74, 1);