
.container {
    .section{
        width:100vw;
        height:100vh;
        box-sizing: border-box;
        &.sec01 {
            background:$theme-color3;
            strong {
                display:block;
                width:100%;
                height:100%;
                position: relative;
                &:after {
                    content:'';
                    position:absolute;
                    right:0;
                    top:0;
                    height:100%;
                    width:30%;
                    background:$theme-color4;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    
}
